# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages in Data Science
- List commonly used libraries in Data Science
- List common data science tools in a table
- Give examples on evaluating basic arithmetic expressions with Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy 
2. Pandas 
3. Scikit-learn 
4. TensorFlow

| Data Science Tools |
|---|---|
| Jupyter Notebook |
| MatPlot Lib |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60, basically 200/60
hours=1
minutes=hours/60

print(200*minutes)

3.3333333333333335

## Author
Tan Kenber Torun